@page "/Account/Manage/Disable2fa"

@using Microsoft.AspNetCore.Identity
@using ScioBlazor.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<Disable2fa> Logger

<PageTitle>Vypnout dvoufázové ověřování (2FA)</PageTitle>

<StatusMessage />
<h3>Vypnout dvoufázové ověřování (2FA)</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Tato akce pouze vypne 2FA.</strong>
    </p>
    <p>
        Vypnutí 2FA nezmění klíče používané v autentizační aplikaci. Pokud chcete změnit klíč,
        měli byste <a href="Account/Manage/ResetAuthenticator">resetovat klíče autentizátoru</a>.
    </p>
</div>

<div>
    <form @formname="disable-2fa" @onsubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken />
        <button class="btn btn-danger" type="submit">Vypnout 2FA</button>
    </form>
</div>

@code {
    private ApplicationUser user = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        if (HttpMethods.IsGet(HttpContext.Request.Method) && !await UserManager.GetTwoFactorEnabledAsync(user))
        {
            throw new InvalidOperationException("Nelze vypnout 2FA, protože není aktuálně zapnuté.");
        }
    }

    private async Task OnSubmitAsync()
    {
        var disable2faResult = await UserManager.SetTwoFactorEnabledAsync(user, false);
        if (!disable2faResult.Succeeded)
        {
            throw new InvalidOperationException("Při vypínání 2FA došlo k neočekávané chybě.");
        }

        var userId = await UserManager.GetUserIdAsync(user);
        Logger.LogInformation("User with ID '{UserId}' has disabled 2fa.", userId);
        RedirectManager.RedirectToWithStatus(
            "Account/Manage/TwoFactorAuthentication",
            "2FA bylo vypnuto. Znovu jej můžete zapnout při nastavení autentizační aplikace",
            HttpContext);
    }
}
