@page "/Account/AccessDenied"

<PageTitle>Přístup odepřen</PageTitle>

<header>
    <h1 class="text-danger">Přístup odepřen</h1>
    <p class="text-danger">K tomuto zdroji nemáte přístup.</p>
</header>
