@page "/Account/Lockout"

<PageTitle>Účet uzamčen</PageTitle>

<header>
    <h1 class="text-danger">Účet uzamčen</h1>
    <p class="text-danger" role="alert">Tento účet byl dočasně uzamčen, zkuste to prosím později.</p>
</header>
